.draw__mode-div {
    display: inline-block;
    height: 100%;
    min-height: 30px;
    width: 15%;
    min-width: 30px;
    cursor: pointer;
    // background-color: aqua;
}

.draw__mode-div:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.draw__mode-div.active {
    background-color: rgba(128, 128, 128, 0.8);
}

#draw__modes-container {
    width: 100%;
    // overflow-x: scroll;
}
#draw__mode-polygon {
    background-image: url("../img/draw_mode_icons.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#draw__mode-point {
    background-image: url("../img/draw_mode_icons.png");
    background-repeat: no-repeat;
    background-position: -30px 0px;
}

#draw__mode-line {
    background-image: url("../img/draw_mode_icons.png");
    background-repeat: no-repeat;
    background-position: -60px 0px;
}